<div class="down" ng-controller="ProductController">
  <div class="container" id = "rcorners1">
<p align ="left" >
<a href = "#/productions">\Продукция</a>
</p>
		<div class="row">
			<h2 class="photo-title">{{detail.title}} </h2>
			<div class="col-md-6">
	    			<img class = "productgroup" ng-src="{{ detail.icon }}" alt = "{{detail.alt}}">
			</div>	
			<div class="col-md-6">{{ items.text }}
   			</div>	
 		</div>
  </div>
<div>&nbsp</div>
  <div class="container">
	    <div class="card" ng-repeat="item in items.items">
<a href="{{items.fullsize}}/{{item.icon}}" data-lightbox="roadtrip"  data-title={{item.title}}>
			<div class="circleBase type2">
				<img class="product" ng-src="{{items.thumbnail}}/{{ item.icon }}" alt = "{{item.alt}}" >
			</div>
			<h3 class = "title">{{ item.title }}</h3> 
</a>
		</div>
	  </div>
</div> 
</div>